## configure webdav module
{
    email tech@annemarie-schwarzenbach.ch
    order webdav before file_server
}

:80 {
    root * /data/webdav
    basicauth {
#        user1 hashed-password
    }
    webdav
}
